<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="bx bxs-book-content"></i>
                <span>Menú</span>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <img src="{% static 'images/foto_perfil_image.png' %}" alt="me" class="user_img">
            <div>
                <p class="bold">Elmer Figueroa</p>
                <p>Admin</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="#" onclick="window.location.href='/agenda'">
                    <i class="bx bxs-book-content"></i>
                    <span class="nav-item">Agenda</span>
                </a>
                <span class="tooltip">Agenda</span>
            </li>
            <li>
                <a href="#" onclick="window.location.href='/dashboard'">
                    <i class="bx bx-line-chart"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li> 
            <li>
                <a href="#" onclick="window.location.href='/personal'">
                    <i class="bx bx-group"></i>
                    <span class="nav-item">Personal</span>
                </a>
                <span class="tooltip">Personal</span>
            </li> 
            <li>
                <a href="#" onclick="window.location.href='/boxes'">
                    <i class="bx bxs-door-open"></i>
                    <span class="nav-item">Boxes</span>
                </a>
                <span class="tooltip">Boxes</span>
            </li>
            <li>
                <a href="#" onclick="window.location.href='/implementos'">
                    <i class="bx bx-injection"></i>
                    <span class="nav-item">Implementos</span>
                </a>
                <span class="tooltip">Implementos</span>
            </li> 
        </ul>
    </div>

    <header class="main-header">
        <div class="header-content">
            <button class="inicio-btn" onclick="window.location.href='/panel'">Inicio</button>
            <div class="logo-box">
                <img src="{% static 'images/logo_hospital.png' %}" alt="Logo Hospital" class="hospital-logo">
            </div>
        </div>
    </header>

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="main_footer">
            <div class="grupo1">
                <div class="footer-item">
                    <figure>
                        <a href="#">
                            <img src="{% static 'images/logo_vesperdevs_fondoazul.png' %}" alt="Logo Vesperdevs">
                        </a>
                    </figure>
                </div>
                <div class="footer-item">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>En VesperDevs, somos un equipo de desarrolladores dedicados a crear soluciones innovadoras.</p>
                </div>
                <div class="footer-item">
                    <h2>CONTÁCTANOS</h2>
                    <p class="correos">
                        be.sanchezt@udd.cl<br>
                        a.pintos@udd.cl<br>
                        b.pintof@udd.cl
                    </p>
                </div>
            </div>
            <div class="grupo2">
                <small>&copy; 2025 <b>VesperDevs</b> - Todos los Derechos Reservados.</small>
            </div>
        </div>
    </footer>
</body>

<script>
    let btn =  document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')
    btn.onclick = function (){
        sidebar.classList.toggle('active');
    };    
</script>

{% block extra_js %}{% endblock %}
</html>