{% extends 'base.html' %}
{% load static %}
{% block title %}Boxes{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/boxes.css' %}">
{% endblock %}

{% block content %}    
    <div class="main-content">
        <div class="titulo-content">
            <h2>BOXES</h2>
            
            <div class="card-disponibles">
                <div class="card-titulo">Total Boxes Disponibles </div>
                <div class="card-numero">{{ total_disponibles }}</div>
            </div>

            <div class="leyenda-boxes">
                <div><span class="color-circulo gray"></span>Disponible</div>
                <div><span class="color-circulo red"></span>En uso</div>
                <div><span class="color-circulo yellow"></span>En Mantención</div>
            </div>
            <div class="filtrar-wrapper">
                <button class="filtrar-btn" onclick="toggleFiltro()">Filtrar</button>
                <div class="dropdown-filtro hidden">
                    <div onclick="filtrarBoxes('Disponible')">Disponibles</div>
                    <div onclick="filtrarBoxes('Ocupado')">En Uso</div>
                    <div onclick="filtrarBoxes('En mantención')">En Mantención</div>
                    <div onclick="filtrarBoxes('Todos')">Mostrar Todos</div>
                </div>
            </div>
        </div>
        
        {% for item in pasillos_data %}
        <div class="pasillo">
            <div class="pasillo-header" onclick="toggleBoxes(this)">
                {{ item.pasillo.nombrepasillo }} -  Boxes Disponibles: {{ item.disponibles }} ▼
            </div>
            
            <div class="boxes">
                {% for box in item.boxes %}
                    <div class="box
                    {% if box.idestadobox.descripcionestadobox == 'Disponible' %} gray
                    {% elif box.idestadobox.descripcionestadobox == 'No disponible' %} red
                    {% elif box.idestadobox.descripcionestadobox == 'En mantención' %} yellow
                    {% else %} purple
                    {% endif %}">
                        Box {{ box.numerobox }}
                    </div>
                {% empty %}
                    <p>No hay boxes en este pasillo.</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

<script>
    function toggleBoxes(header) {
    const boxes = header.nextElementSibling;
    boxes.classList.toggle('hidden');
    header.textContent = header.textContent.includes('▲')
      ? header.textContent.replace('▲', '▼')
      : header.textContent.replace('▼', '▲');
  }

  function toggleFiltro() {
        const dropdown = document.querySelector('.dropdown-filtro');
        dropdown.classList.toggle('hidden');
    }

    function filtrarBoxes(filtro) {
    const boxes = document.querySelectorAll('.box');

    boxes.forEach(box => {
        const classes = box.classList;
        const visible = (
            (filtro === 'Disponible' && classes.contains('gray')) ||
            (filtro === 'Ocupado' && classes.contains('red')) ||
            (filtro === 'En mantención' && classes.contains('yellow')) ||
            (filtro === 'Todos')
        );

        box.style.display = visible ? 'block' : 'none';
    });

    toggleFiltro(); 
}
</script>