<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administración</title>
    {% load static %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>    
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="bx bxs-book-content"></i>
                <span>Menú</span>
            </div>
            <i class="bx bx-menu" id="btn" ></i>
        </div>
        <div class="user">
            <img src="{% static 'images/foto_perfil_image.png' %}" alt="me" class="user_img">
            <div>
                <p class="bold">Elmer Figueroa</p>
                <p>Admin</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="#">
                    <i class="bx bxs-book-content"></i>
                    <span class="nav-item">Agenda</span>
                </a>
                <span class="tooltip">Agenda</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-line-chart"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li> 
            <li>
                <a href="#">
                    <i class="bx bx-group"></i>
                    <span class="nav-item">Personal</span>
                </a>
                <span class="tooltip">Personal</span>
            </li> 
            <li>
                <a href="#">
                    <i class="bx bxs-door-open"></i>
                    <span class="nav-item">Boxes</span>
                </a>
                <span class="tooltip">Boxes</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-injection"></i>
                    <span class="nav-item">Implementos</span>
                </a>
                <span class="tooltip">Implementos</span>
            </li> 
        </ul>
    </div>

    <header class="main-header">
        <div class="header-content">
            <button class="inicio-btn">Inicio</button>
            <div class="logo-box">
                <img src="{% static 'images/logo_hospital.png' %}" alt="Logo Hospital" class="hospital-logo">
            </div>
        </div>
    </header>
    
    <div class="main-content">
        <div class="titulo-content">
            <h2>BOXES</h2>
            <h2>Total Boxes Disponibles: {{ total_disponibles }}</h2>
            <div class="leyenda-boxes">
                <div><span class="color-circulo gray"></span> Disponible</div>
                <div><span class="color-circulo red"></span> En uso</div>
                <div><span class="color-circulo yellow"></span> En Mantención</div>
            </div>
            <div class="filtrar-wrapper">
                <button class="filtrar-btn" onclick="toggleFiltro()">Filtrar</button>
                <div class="dropdown-filtro hidden">
                    <div onclick="filtrarBoxes('Disponible')">Disponibles</div>
                    <div onclick="filtrarBoxes('Ocupado')">No Disponibles</div>
                    <div onclick="filtrarBoxes('En mantención')">En Mantención</div>
                    <div onclick="filtrarBoxes('Todos')">Mostrar Todos</div>
                </div>
            </div>
        </div>
        
        {% for item in pasillos_data %}
        <div class="pasillo">
            <div class="pasillo-header" onclick="toggleBoxes(this)">
                {{ item.pasillo.nombrepasillo }} - Disponibles: {{ item.disponibles }} ▼
            </div>
            
            <div class="boxes">
                {% for box in item.boxes %}
                    <div class="box
                    {% if box.idestadobox.descripcionestadobox == 'Disponible' %} gray
                    {% elif box.idestadobox.descripcionestadobox == 'No disponible' %} red
                    {% elif box.idestadobox.descripcionestadobox == 'En mantención' %} yellow
                    {% else %} purple
                    {% endif %}">
                        Box {{ box.numerobox }}
                    </div>
                {% empty %}
                    <p>No hay boxes en este pasillo.</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</body>
<footer>
    <div class="main_footer">
        <div class="grupo1">
            <div class="footer-item">
                <figure>
                    <a href="#">
                        <img src="{% static 'images/logo_vesperdevs_fondoazul.png' %}" alt="Logo Vesperdevs">
                    </a>
                </figure>
            </div>
            <div class="footer-item">
                <h2>SOBRE NOSOTROS</h2>
                <p>En VesperDevs, somos un equipo de desarrolladores dedicados a crear soluciones innovadoras.</p>
            </div>
            <div class="footer-item">
                <h2>CONTÁCTANOS</h2>
                <p class="correos">
                    be.sanchezt@udd.cl<br>
                    a.pintos@udd.cl<br>
                    b.pintof@udd.cl
                </p>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2025 <b>VesperDevs</b> - Todos los Derechos Reservados.</small>
        </div>
    </div>
</footer>

<script>
    let btn =  document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')
    btn.onclick = function (){
        sidebar.classList.toggle('active');
    };

    function toggleBoxes(header) {
    const boxes = header.nextElementSibling;
    boxes.classList.toggle('hidden');
    header.textContent = header.textContent.includes('▲')
      ? header.textContent.replace('▲', '▼')
      : header.textContent.replace('▼', '▲');
  }


  function toggleFiltro() {
        const dropdown = document.querySelector('.dropdown-filtro');
        dropdown.classList.toggle('hidden');
    }

    function filtrarBoxes(filtro) {
    const boxes = document.querySelectorAll('.box');

    boxes.forEach(box => {
        const classes = box.classList;
        const visible = (
            (filtro === 'Disponible' && classes.contains('gray')) ||
            (filtro === 'Ocupado' && classes.contains('red')) ||
            (filtro === 'En mantención' && classes.contains('yellow')) ||
            (filtro === 'Todos')
        );

        box.style.display = visible ? 'block' : 'none';
    });

    toggleFiltro(); 
}

</script>

</html>