<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administración</title>
    {% load static %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="bx bxs-book-content"></i>
                <span>Menú</span>
            </div>
            <i class="bx bx-menu" id="btn" ></i>
        </div>
        <div class="user">
            <img src="{% static 'images/foto_perfil_image.png' %}" alt="me" class="user_img">
            <div>
                <p class="bold">Banja el mejor</p>
                <p>Admin</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="#">
                    <i class="bx bxs-book-content"></i>
                    <span class="nav-item">Agenda</span>
                </a>
                <span class="tooltip">Agenda</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-line-chart"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li> 
            <li>
                <a href="#">
                    <i class="bx bx-group"></i>
                    <span class="nav-item">Personal</span>
                </a>
                <span class="tooltip">Personal</span>
            </li> 
            <li>
                <a href="#">
                    <i class="bx bxs-door-open"></i>
                    <span class="nav-item">Boxes</span>
                </a>
                <span class="tooltip">Boxes</span>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-injection"></i>
                    <span class="nav-item">Implementos</span>
                </a>
                <span class="tooltip">Implementos</span>
            </li> 
        </ul>
    </div>

    <div class="main-content">
        {% for pasillo in pasillos %}
            <div class="pasillo">
                <div class="pasillo-header" onclick="toggleBoxes(this)">
                    {{ pasillo.nombrepasillo }} ▼
                </div>
                <div class="boxes">
                    {% for box in pasillo.box_set.all %}
                        <div class="box">
                            Box {{ box.numerobox }}
                            {% if box.idestadobox.descripcionestadobox == "Disponible" %}
                                <div class="status green"></div>
                            {% else %}
                                <div class="status red"></div>
                            {% endif %}
                        </div>
                    {% empty %}
                        <p>No hay boxes en este pasillo.</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    
    </div>
</body>

<script>
    let btn =  document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')
    btn.onclick = function (){
        sidebar.classList.toggle('active');
    };

    function toggleBoxes(header) {
    const boxes = header.nextElementSibling;
    boxes.classList.toggle('hidden');
    header.textContent = header.textContent.includes('▲')
      ? header.textContent.replace('▲', '▼')
      : header.textContent.replace('▼', '▲');
  }
</script>

</html>