{% extends 'base.html' %}
{% load static %}
{% block title %}Panel de Administración{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/panel_admin.css' %}">
{% endblock %}
 

{% block content %}
<div class="main-content">
    <div class="titulo-content">
        <h2>PANEL DE ADMINISTRACIÓN</h2>
    </div>

    <div class="button-grid">
        <a href="/agenda" class="big-button">
            <img src="{% static 'images/icono_agenda.png' %}" alt="Agenda">
            <span>Agenda</span>
        </a>
        <a href="/dashboard" class="big-button">
            <img src="{% static 'images/icono_dashboard.png' %}" alt="Dashboard">
            <span>Dashboard</span>
        </a>
        <a href="/personal" class="big-button">
            <img src="{% static 'images/icono_personal.png' %}" alt="Personal">
            <span>Personal</span>
        </a>
        <a href="/boxes" class="big-button">
            <img src="{% static 'images/icono_boxes.png' %}" alt="Boxes">
            <span>Boxes</span>
        </a>
        <a href="/implementos" class="big-button">
            <img src="{% static 'images/icono_implementos.png' %}" alt="Implementos">
            <span>Implementos</span>
        </a>
    </div>
</div>
{% endblock %}
</html>

<script>
    let btn =  document.querySelector('#btn')
    let sidebar = document.querySelector('.sidebar')
    btn.onclick = function (){
        sidebar.classList.toggle('active');
    };
</script>